<header>
  <nav class="nav">
    <img src="./assets/Logo-final.png" alt="" style="float: right; margin-top: 10px; margin-left: 20px; height: 79px; width:79px;">

    <input type="text" class="nav--input" placeholder="Store...">
    
    <div style="margin-right: 20px; margin-top: 15px;">
      <app-button (click)="toggle()" [fontSize]="'30px'">ACCOUNT</app-button>
      <div class="menu" id="menu" *ngIf="isOn">
          <ul *ngIf="!isAuthenticated">
            <a [routerLink]="'login'" (click)="toggle()"><li>LOGIN</li></a>
            <a [routerLink]="'register'" (click)="toggle()"><li>REGISTER</li></a>
          </ul>
          <ul *ngIf="isAuthenticated">
            <a [routerLink]="'shop'" (click)="toggle()"><li>NEW SHOP</li></a>
            <li style="cursor: pointer; text-decoration:underline;" (click)="logout()">LOGOUT</li>
          </ul>
      </div>
    </div>
    
    
    
  </nav>
</header>