<div class="detail">
    <div class="shop-div rect--color" style="box-shadow: 5px 5px 5px grey;">
        <p class="shop-thumbnail">{{title}}</p>
    </div>

    <div class="author-div rect--color" style="box-shadow: 5px 5px 5px grey;">
        <p class="author-thumbnail">by {{author}}</p>
    </div>
    
    <app-thumbnail [width]="'50%'" [imgSrc]="imgUrl">
      <p style="padding:10px; text-align: justify; transform: rotate(-1deg);">
        <ng-content></ng-content>
      </p>
    </app-thumbnail>
</div>
