.order-fixed {
    position: fixed;
    bottom: 0px;
    right: 250px; 
}

.order {
    background-color: white;
    bottom: 60px;
    right: 250px;
    width: 190px;
    height: fit-content;
}

.owner-fixed {
    position: fixed;
    bottom: 0px;
    right: 50px; 
}