<div class="container rect--gray">
  <img src="./assets/Logo-final.png" alt="" style="float: left; margin-left: 20px; width:158px; margin-top: 20px;">
  <div class="rect--color rect--login" [ngStyle]="{'transform': 'rotate('+getDegree()+'deg)'}">
    <div class="rect--login--inner" [ngStyle]="{'transform': 'rotate('+getDegree2()+'deg)'}">
      
      <div class="rect--selected login--button" *ngIf="isLogin" (click)="setLogin(true)">
          <p>LOGIN</p>
      </div>
      <div class="login--button" *ngIf="!isLogin" (click)="setLogin(true)">
          <p>LOGIN</p>
      </div>

    
      <div class="register--button" *ngIf="isLogin" (click)="setLogin(false)">
          <p>REGISTER</p>
      </div>
      <div class="rect--selected register--button" *ngIf="!isLogin" (click)="setLogin(false)">
          <p>REGISTER</p>
      </div>

      <div class="login--container" *ngIf="isLogin">
        <form (ngSubmit)="onLogin(f)" #f="ngForm">
          <input type="text" class="email--input" placeholder="email" id="email" name="email" ngModel>
          <input type="password" class="password--input" placeholder="password" id="password" name="password" ngModel>
          <div style="margin: 0 auto; width:fit-content">
            <button type="submit">LOGIN ➜</button>
              <!-- <a href="" style="text-decoration: none; ">
                <p>LOGIN ➜</p>
              </a> -->
          </div>
        </form>
      </div>
      
      <div class="register--container" *ngIf="!isLogin">
        <form (ngSubmit)="onRegister(f)" #f="ngForm">
          <input type="text" class="email--input" placeholder="username" id="username" name="username" ngModel>
          <input type="text" class="email--input" placeholder="email" id="email" name="email" ngModel> 
          <input type="password" class="password--input" placeholder="password" id="password" name="password" ngModel>
          <div style="margin: 0 auto; width:fit-content">
              <button type="submit">REGISTER ➜</button>
              <!-- <a href="" style="text-decoration: none; ">
                <p>REGISTER ➜</p>
              </a> -->
          </div>
        </form>
          
      </div>
    </div>
    
  </div>
</div>