<div class="container rect--gray">
  <img src="./assets/Logo-final.png" alt="" style="float: left; margin-left: 20px; width:158px; margin-top: 20px;">
  <div class="rect--color rect--login">
    <div class="rect--login--inner">
      <a href="" class="login--button" style="text-decoration: none;">
        <div class="rect--selected">
            <p>LOGIN</p>
        </div>
      </a>
      
      <a href="" class="register--button" style="text-decoration: none;"><p>REGISTER</p></a>
      <div class="login--container">
        <input type="text" class="email--input" placeholder="email">
        <input type="password" class="password--input" placeholder="password">
        <div style="margin: 0 auto; width:fit-content">
            <a href="" style="text-decoration: none; ">
              <p>LOGIN ➜</p>
            </a>
        </div>
        
      </div>
      <div class="register--container" hidden>
          <input type="text" class="email--input" placeholder="email">
          <input type="password" class="password--input" placeholder="password">
          <div style="margin: 0 auto; width:fit-content">
              <a href="" style="text-decoration: none; ">
                <p>LOGIN ➜</p>
              </a>
          </div>
      </div>
    </div>
    
  </div>
</div>