<div class="container">
    <app-shop></app-shop>
    <a href="#" style="text-decoration: none;">
        <app-thumbnail [imgSrc]="'./assets/store-img.png'"><p>FishBox</p></app-thumbnail>
    </a>

    <a href="#" style="text-decoration: none;">
        <app-thumbnail [imgSrc]="'./assets/store-img.png'"><p>FishBox</p></app-thumbnail>
    </a>
    <a href="#" style="text-decoration: none;">
        <app-thumbnail [imgSrc]="'./assets/store-img.png'"><p>FishBox</p></app-thumbnail>
    </a>
    <a href="#" style="text-decoration: none;">
        <app-thumbnail [imgSrc]="'./assets/store-img.png'"><p>FishBox</p></app-thumbnail>
    </a>

    
    <app-button id="button--prev">PREV</app-button>
    <app-button id="button--next">NEXT</app-button>
</div>