.container {
    background-color: #353535;
    box-shadow: 5px 5px 5px grey;
    margin-top: 200px;
    margin-bottom: 100px;
    width:70%;
}

.prev--btn {
    position: relative;
    width: 200px;
    height: 75px;
}

.prev--btn:hover .rect--grey {
    transition: all 0.3s ease;
    transform: rotate(2.5deg);
}

.prev--btn:hover .rect--color {
    transition: all 0.3s ease;
    transform: rotate(-2.5deg)
}

.next--btn {
    position: relative;
    width: 200px;
    height: 75;
}

.rect--next--prev {
    position: relative;
    width: 200px;
    height: 75px;
}

#button--prev {
    padding: 10px;
    float: left;

}

#button--next {
    padding: 10px;
    float: right;
}