<div class="container">
    <app-shop [imgSrc]="'./assets/store-img.png'">FishBox</app-shop>
    <app-shop [imgSrc]="'./assets/store-img.png'">FishBox</app-shop>
    <app-shop [imgSrc]="'./assets/store-img.png'">FishBox</app-shop>
    <app-shop [imgSrc]="'./assets/store-img.png'">FishBox</app-shop>
    <app-shop [imgSrc]="'./assets/store-img.png'">FishBox</app-shop>
    <app-shop [imgSrc]="'./assets/store-img.png'">FishBox</app-shop>
    <a href="#">
        <app-button id="button--prev">PREV</app-button>
    </a>
    <a href="#">
        <app-button id="button--next">NEXT</app-button>
    </a>
    
</div>