.thumbnail--gray {
    background-color: #979797;
    padding-bottom: 100px;
}

p.title {
    transition: all 0.3s ease;
    color: #EAEB41;
    -webkit-text-stroke: 2px black;
    padding: 0px 10px 0px 10px;
    font-size: 30px;
    font-weight: bold;
    /* text-align: center; */
}

p.description {
    padding: 0px 10px 0px 10px;
    color: black;
}

.product--button:hover {
    cursor: pointer;
}