<a href="#" style="text-decoration: none;">
    <app-thumbnail [imgSrc]=getImgSrc()>
        <div style="transform:rotate(-1deg);"> 
            <p class="title"><ng-content></ng-content></p>
            <p class="description">orem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
        </div>
        
        
    </app-thumbnail>
</a>