<app-thumbnail [imgSrc]=getImgSrc()>
    <div style="transform:rotate(-1deg);"> 
        <p class="title"><ng-content></ng-content></p>
        <p class="description">
            {{this.description}}
        </p>
        <div style="padding: 10px;">
            <button class="product--button" (click)="addProduct()">+</button>
            <p style="display: inline;">{{getValue()}}</p>
            <button class="product--button" (click)="deleteProduct()">-</button>
            <p style="display: inline;">{{getPrice()}}</p>
            <img src="./assets/k14.svg" alt="" class="product--button" (click)="onButtonClick()">
        </div>
        
    </div>
    
    
</app-thumbnail>