.container-new-comment {
    width: 70%;
    margin-bottom: 100px;
    background-color: #353535;
    box-shadow: 5px 5px 5px grey;
}

.text-new-comment  {
    width: 100%;
    font-size: 20px;
}

.title-new-comment {
    width: 100%;
    margin-bottom: 5px;
    font-size: 30px;
}