p {
    transition: all 0.3s ease;
    color: #EAEB41;
    -webkit-text-stroke: 3px black;
    padding: 0px 10px 0px 10px;
    font-size: 40px;
    font-weight: bold;
}

.rect--button {
    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-right: 10px;
}

.rect--button:hover {
    cursor: pointer;
}

.menu {
    width: 222px;
    height: fit-content;
}