<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
        <app-product [imgSrc]="'http://localhost:8000'+product.image" [description]="product.description" [quantity]="product.quantity" [price]="product.price">{{product.title}}</app-product>
    </div>
  </div>
  <div class="row" *ngIf="getCount() > 3">
      <div class="col-md-4"><app-product [imgSrc]="'./assets/store-img.png'">FishBox</app-product></div>
      <div class="col-md-4"><app-product [imgSrc]="'./assets/store-img.png'">FishBox</app-product></div>
      <div class="col-md-4"><app-product [imgSrc]="'./assets/store-img.png'">FishBox</app-product></div>
  </div>
  <a href="#">
      <app-button id="button--prev">PREV</app-button>
  </a>
  <a href="#">
      <app-button id="button--next">NEXT</app-button>
  </a>
  
</div>